@media only screen and (min-width: 1024px) and (max-width: 1050px)
{.last-page{margin-right:-5px;}.content-imagen-zonareparto{margin:-37px 0px 0px 21px;}.nav-inner{background:url("../../images/respo_menu_bg.png") repeat-x scroll 0px 0 transparent;margin:0 auto;padding:0;width:1000px;}}@media only screen and (min-width: 980px) and (max-width: 1023px) {.last-page{margin-right:0px;}div.menu a,div.megnor-advanced-menu-popup a{padding:12px 4px;}.forgotpassword-account-left{margin-left:47px;margin-top:16px;}.forgotpassword-account-right{margin-right:89px;}.content-imagen-zonareparto{margin:-37px 0px 0px 21px;}.fondo-gallos-uno{display:none}.fondo-gallos-dos{display:none}.content-historia .img4{margin-left:-67px;}.header,.nav-inner,.main,.col-main,.footer{width:940px;}.main,.footer{width:920px;}.slider_wrapper{width:904px;}.col-main{float:left;width:750px;}.col-left{float:left;width:180px;}.col-right{float:right;width:180px;margin-left:0;}.col2-right-layout .col-main{margin-right:10px;width:708px;}.col3-layout .col-main{width:520px;margin-left:10px;}.col3-layout .col-wrapper{float:left;width:720px;}.product-view .product-shop{width:432px;}.col1-layout .product-view .product-shop{width:623px;}.block-banner img{max-width:100%;}#footer .mobile_togglemenu{display:none;}#footer .footer-area{width:164px;}.col1-layout .product-view .product-shop{width:580px;}.cart .cart-collaterals .col1-set,.cart .cart-collaterals .col2-set,.cart .totals{width:100%;}.nav-inner{background:url("../../images/respo_menu_bg.png") repeat-x scroll 0px 0 transparent;margin:0 auto;padding:0;width:940px;}.menu_bottom{width:100%;}.nav-container{width:100%;}.flexslider{width:662px;}.subbanner{width:233px;}.slides img{max-width:100%;}.col2-left-layout .col-main{width:718px;}.bottom_subbanner>li{width:295px;}.block .block-title{text-transform:capitalize;}.nav-inner #nav,.nav-responsive,#advancedmenu{padding:7px 0;}.product-view .product-shop{width:390px;}.shopping_CMS_main1 img{width:100%;}.products-list li .list-center{width:315px;}.header_top{width:940px;}}@media only screen and (max-width: 979px){.fondo-gallos-uno{display:none}.fondo-gallos-dos{display:none}.content-historia .img4{display:none;}.minibanner{overflow:hidden;}.minibanner>.topmini{display:none;}.minibanner>.bottommini{display:none;}.delivery-img{display:none;}.success-checkout-left{margin:auto;width:100%;text-align:center;}.success-checkout-right{margin:auto;width:100%;}.forgotpassword-account-left{margin:auto;width:100%;text-align:center;}.forgotpassword-account-right{margin:auto;width:100%;text-align:center;}.gallo-crear-cuenta{display:none;}.textinfo-zonareparto{margin-bottom:10px;}.forgotpassword-account-right .info_registro{width:380px;margin:auto;}.social_block{float:initial;}.content-imagen-zonareparto{.content-imagen-zonareparto}.content-imagen-zonareparto{float:initial;margin:0px auto 0px auto;}.nav-container{width:100%;}.nav-inner{background:url("../../images/respo_menu_bg.png") repeat-x scroll 0px 0 transparent;margin:0 auto;padding:0;width:724px;height:59px;}.menu_bottom{width:100%;margin:0px auto 15px;}.header,.nav-inner,.main,.footer{width:724px;}.main,.footer{width:704px;}.slider_wrapper{width:688px;margin:0;}.col2-left-layout .col-main,.col2-right-layout .col-main{width:517px;}.footer{padding:10px;}.col-main,.col3-layout .col-wrapper{width:549px;}.col3-layout .col-main{width:374px;}.col-left,.col-right{width:165px;}.header .quick-access{width:290px;margin-top:35px;}.footer .mobile_togglemenu{display:block;}#footer ul{display:none;margin-bottom:10px;}#footer .footer-area{width:100%;margin-right:0;}.products-list li .list-center{width:255px;}.product-view .product-shop{width:100%;}.cart .cart-collaterals .col2-set,.cart .totals,.form-list li.wide input.input-text{width:100%;}.checkout-progress{padding:0 10px;}.form-list li.wide select,.form-list li.wide .input-box{width:400px;}.gift-messages-form .item .details .form-list li.wide .input-box{width:100%;}.col1-layout .product-view .product-shop{width:362px;float:none;margin-left:auto;margin-right:auto;width:auto;}.padder h6{display:block;padding:5px;line-height:25px;}.product-view .tabs{display:none!important;}.contacform{width:100%;margin-bottom:10px;padding:0;margin-right:0;border:none;}.googlemap{width:100%;margin-bottom:10px;}.block-banner img,.category-image img{max-width:100%;}.toolbar .pager .pager_right{float:left;margin-top:8px;clear:both;}.footer_bottom ul.links{display:block;text-align:center;float:none;margin-bottom:5px;}.footer address{float:none;text-align:center;clear:both;}.product-collateral .padder{padding-left:0;padding-right:0;padding-bottom:0;}.padder ol{display:none;margin-bottom:15px;}.padder>div{display:block!important;}#footer .block-subscribe input.input-text{width:98%;}.block-subscribe .block-title strong{display:inline;}.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box{width:90%;}#advancedmenu{padding:7px 0;}.header .header-cart #panel{top:94px;}.header-cart{margin-top:-35px;}.header .form-search{margin:-34px 0 0 25px;}div.menu a,div.megnor-advanced-menu-popup a{font-size:17px;}.slides img,.bottom_subbanner img{max-width:100%;}.flexslider{width:504px;}.subbanner{width:177px;}.bottom_subbanner>li{width:194px;}.block .block-title{text-transform:capitalize;font-size:13px;}#footer .footer-area,.static_link1,.static_link2,.static_link3{width:100%;border-bottom:1px solid #E2E2E2;}.social_block{display:inline;}#footer h6,#footer .block .block-title strong{margin-top:10px;}.footer_bottom{bottom:-65px;}.payment_block{float:left;clear:both;}.nav-inner #nav,.nav-responsive,#advancedmenu{padding:7px 0;}#my-orders-table{display:inline;float:left;overflow:scroll;width:100%;}.cart .cart-collaterals .col1-set{width:100%;}#zoom-btn,.mousetrap{display:none;}.opc-block-progress .block-title{font-size:14px;}.footer_top{padding:10px;}.products-list li .list-center{padding:10px;width:340px;}.products-list li .list-right{width:142px;}.shopping_CMS_main1 img{width:100%;}.form-list input.input-text{width:200px;}#footer #block_4{border-bottom:0;}.send-friend .form-list input.input-text,.send-friend .form-list textarea{width:180px;}.send-friend .form-list li.wide textarea{width:500px;}.send-friend .form-list{width:100%;}.send-friend .form-list li.wide .input-box{width:97%;}#advancedmenu{display:none;}.advanced_nav{display:block;}#zoom-btn,.mousetrap{display:none!important;}#zoom1{cursor{teeth_smile}default!important; }
.header_top {width: 725px; width: auto;}


}
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {

    .fondo-gallos-uno { display:none }
    .fondo-gallos-dos { display:none }

    
.content-imagen-zonareparto { display: none; }    
.minibanner { overflow: initial; width: 100%; display: block }
.minibanner > .topmini { display: none; }
.minibanner > .bottommini { display: none; }
.block .block-content { background: none;
margin: 0px 0 0 0;
padding: 10px 10px;
background-color: white;
max-width: inherit;
}

.forgotpassword-account-right .info_registro {
        width: auto;
        margin: auto;
    }
.cont_registro_usuario { margin: auto; width: auto; }
.content-zonasreparto { float:initial; }
.textinfo-zonareparto { margin-bottom: 37px; }
    
.col2-left-layout .col-main,.col2-right-layout .col-main{width:100%;padding:0;}
.slider_wrapper,.col2-right-layout .main_inner,.cms-home .col2-left-layout .col-main{width:100%;padding:0;}
/*.menu_bottom{display:none;}*/
.header, .nav-inner, .main,  .footer { width:auto;  margin:0 15px;  }
.col-left ,.col-right  ,.col-main,.main_inner,.flexslider,.subbanner{ width:100%;}
.col-main{ margin-bottom:10px; }
.col-left .block-content ,.col-right .block-content{ display:none; }
.col3-layout .col-wrapper , .col-main , .col3-layout .col-main{  width:100%;}
.toggle .mobile_togglecolumn {
    display: block;
}
.header .form-search{margin:0;}

.bottom_subbanner > li{  width: 35%;float:right;}
.bottom_subbanner > li.first {float: left;}
.subbanner li {float: left;margin-right: 0px; width: 48%;text-align:center;}
.subbanner li:first-child{margin-right:16px;}
/********** Header Setting *************/
.header .logo{  
	margin:-9px auto -20px;
    text-align: center;
    text-decoration: none !important;
    /* width: 100%; */
}
.header h1.logo {
        width: 38px;
        height: 123px;
}
.header .quick-access{ margin:10px 0; }
.header .form-search input.input-text{padding:7px 0px 7px 7px;width:94%;}
.header .quick-access , .header .form-search{  width:90%;}
.header_top{ height:80px; }
.header .welcome-msg{     
	float: none;
    left: auto;
    margin-top: -23px;
    text-align: center;
    width: 100%;
    display: none;
    
}
.header-cart {
    line-height: 20px;    
}
.header .header-cart #panel {margin-right: -1px}
.header .links{ display:none; float:none; text-align:left; position:absolute; background:#fff; }
.tm_headerlinks_inner{ display:block; cursor:pointer;}
.header .links { margin:0; top:38px; width:183px; right:0;border:1px solid #EDEDED; }
.header .links li{ display:block; float:none; background:none; padding:0px !important }
.header .links li a{ text-decoration:none; padding: 5px; display:block;}
.header .links li a:hover{ } 

.header .tm_top_currency , .header .form-language{ float:left; text-align:center; }
.header .tm_top_currency , .header .form-language {
 width:25%; margin:0 1px 0 0px;  position:relative; background:rgb(178,187,30); top:10px; padding: 0px 0;} 
 
 .form-language .sbHolder, .tm_top_currency .sbHolder{ border:none; padding:0 25px 0 0; background:none; float:none; }
 .form-language .sbHolder > a, .tm_top_currency .sbHolder > a{  color:#fff; text-align:center; text-transform: capitalize; padding:9px 0;}
 .form-language .sbHolder > a.sbToggle, .tm_top_currency .sbHolder > a.sbToggle,.header-cart .right_arrow{background:url("../../images/arrow-down-resp.png") no-repeat scroll center center transparent;}
 .form-language .sbHolder > a.sbToggleOpen, .tm_top_currency .sbHolder > a.sbToggleOpen,.header-cart .active .right_arrow{background:url("../../images/arrow-up-resp.png") no-repeat scroll center center transparent;}

 .form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{ width:180px; left:0; top:38px !important; text-align:left; }
 .tm_headerlinks_inner{padding:9px 0 }
	.cart-label{padding:9px 0; }
 
.header-cart , .tm_headerlinkmenu {
   float: right;
   margin: 0 -1px 0 0;
   position: absolute;
   right: 0;
	width:25%;
	background:#000000; 
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
	padding:0px 0;
}
    .tm_headerlinkmenu {
        min-width: 229px;
        background: none;
        border: 0px;
        margin: 0px;
    }
.welcome-msg{display: none}
.cart_mini_right{ background:none; padding:0; color:#fff; margin:0 0 0 1px;
border:none; float:none; text-align:center;width: auto; }
.header .header-cart #panel{ top:38px; }
.cart_mini_right .price{ display:none;}
.header{height: 123px;}

/********** Header Setting *************/
.products-list li .list-center {    margin-top: 15px;    width: auto;}
.col2-set .col-1 , .col2-set .col-2,.box-account .col2-set .col-1{  width:100%; }
.box-account .col2-set .col-1{ padding-right:0; border:none; margin-bottom:15px;}
.order-info-box .col-1{ margin-bottom:15px; }
.product-view .product-img-box { margin:0 auto 20px; float:none; }
.product-shop{ width:100% !important;}
#zoom-btn , .mousetrap ,.header .form-language label , .header .tm_top_currency label { display:none !important; }
#zoom1 {cursor:default !important; }
#super-table{ clear:both; }
#new-wishlist-table .add-to-cart-alt button.button span{ width:auto !important;  }
.form-list li.wide textarea{ width:100%; }
.form-list li.fields .name-firstname{ margin-bottom:10px; }
.product-block .product-image > img {
    max-width: 100%;
	height:auto;
}
.block{border:0;}
.block-side-nav-container .block-title{background:rgb(178,187,30) !important;}
.block .block-title ,.block-side-nav-container .block-title,.col-right .block .block-title{
    background:rgb(178,187,30);
    margin: 0;
    padding: 8px;
    text-transform: capitalize;
	font-size:17px;	
}
.col-right .block .block-title strong{text-align:left;}
.cart > form {
    display: inline;
    float: left;
    overflow: scroll;
    width: 100%;
}
.products-list li .list-right{margin:0;}
 .block-banner{display:none;}
 .send-friend .form-list{width:100%;}
 .send-friend .form-list li.wide .input-box{width:90%;}
 .send-friend .form-list li.wide textarea{width:100%;}
 #lspd_login_wrapper {margin-left: -67px;top: -5px;}
 .tm_headerlinks_inner {display: none;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.form-list li.wide .input-box{width: 260px;}
.form-list li.wide input.input-text{ width: 250px;}
.footer_bottom {bottom: -78px;}

    .minibanner {
        overflow: hidden;
    }
    .minibanner .left {
        width: 50%;
        text-align: center;
    }
    
    .mensaje-enriqueta {
        display: none;
    }
      

}


/* Landscape phones and down */
@media only screen and (max-width: 479px) {

    .header h1.logo {
        width: 38px;
        height: 193px;
    }
    .header-cart, .tm_headerlinkmenu {
        width: 16%;
    }
    .header .logo {

        margin: 4px auto -20px;
        margin-top: 100px;
    }
    .header-bottom .logo img {
        width: 255px !important;
    }
    .header {
        height: 206px;
    }
    .delivery-img {
        height: 93px;
        position: none;
        right: 0;
        width: 305px;
        display: block;
        margin:auto;
    }
    .delivery-img-fondo {
        width: 306px;
    }

    .header .quick-access {
        margin: -69px 0;
    }




    .fondo-gallos-uno { display:none }
    .fondo-gallos-dos { display:none }
    .subbackground { display:none }
    
    
    .background-pollo {
        display: none;
    }
    .mensaje-carta {
        right: 60px;
    }
    
    a.descarga-carta {
        right: 69px;
    }
    
    .field-libroreclamacion label{
        text-align: left;
    }
    .minibanner {
        margin-bottom: 30px;
    }
    .minibanner > .left {
        width: 100%;
        text-align: center;
    }
    
    .minibanner .left.last {
        margin-bottom: 20px;
    }
    
    .product-view .product-shop .price-box {
        margin: 0px;
    }
    
    .price-and-button {
        text-align: center;
        height: auto;
    }
    
    .price-and-button button {
       float: none;
       margin: 0px 0px 14px 0px;
    }

    .enriqueta-chicken {
        margin: -59px -8px 0px 0px;
    }
    
    .mensaje-enriqueta {
        display: none;
    }
    .button-ir-registro { margin-top: 0px !important; }
    
.form-list .field , .form-list .input-box ,.form-list li.wide .input-box { width:100% !important; }
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:85% !important; }
.cart_mini_right{ display:none; }
.cart-label{ background: url("../../images/respo_cart.png") no-repeat scroll center rgba(0, 0, 0, 0);
    height: 20px;
    margin: 0 auto;  
    text-align: center;
   cursor:pointer; }
.checkout-progress{ padding:0 50px; }
.checkout-progress li{width:100% ;margin:0 0px 5px 0;}
.cart_mini_right .price{ display:none; }
.tm_responsive_row label , .tm_responsive_row span{width:100% ;margin:0 0px 5px 0;  }
.tm_responsive_row span .separator{ display:none;}
.gift-messages-form .item .details{ margin-left:0; margin-top:15px; }
.product-view .product-img-box{ width:271px; max-width: 100%; }
.product-view .product-img-box .product-image img{ width:100%; }
.email-addto-box .email-friend{ float:none; margin-bottom:8px; }
.googlemap iframe{ width:100%  !important; }
.col3-set .col-1 , .col3-set .col-2 , .col3-set .col-3 { width:100%; margin-bottom:10px; }
.my-wishlist textarea{ width:90%; }
#my-tags-table td , #my-reviews-table td{ display:block; }
.additional-carousel .slider-item .product-block img{ margin:0 auto; text-align:center; display:block;  }
.product-view .product-shop .availability{ float:none; text-align:left; }
#product-review-table .nobr{  white-space: normal !important; }
#product-review-table td , .data-table thead th{  padding: 5px 3px; }
#product-review-table{ margin:10px 0; }
.buttons-set .back-link{ margin-bottom:10px; margin-right:10px; }
.buttons-set button.button{ float:left; margin-left:0; }
.pager .limiter{ margin-bottom:10px; }
.pager .pager_right .sort-by{ float:none; }
.products-list li .list-right{ width:100%;padding:0; }
.bottom_subbanner > li {float: left; margin: 0 0 20px;padding: 5%;width: 85%;}
.subbanner{display:none;}
.products-list li .list-left,.products-list .product-image{float:none;margin:0;text-align:center;}
.products-list .add-to-links{  text-align: center;}
}

/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) { .subbanner li{width:46%;}
.footer_bottom {bottom: -102px;}}
@media only screen and (max-width: 319px){
.header-cart .right_arrow{ padding:0; background:none; }
.cart .discount .input-box { width:100% !important; }
#footer .block-subscribe input.input-text , .form-list textarea , .cart .discount input.input-text{  width:95%;}
.checkout-progress{ padding:0 10px; } 
.opc .step{ padding:15px 15px; } 
.product-view .product-img-box , .product-view .product-img-box .product-image img{ width:100%; } 
.product-view .product-shop .add-to-links li{ display:block;margin-bottom:8px; }
.product-view .product-shop .availability{ float:none; text-align:left; }
.my-wishlist .buttons-set button.button{ margin:5px 0; text-align:left;}
#product-review-table thead{ display:none; }
.form-language .sbHolder, .tm_top_currency .sbHolder{flat:none; text-align:center; padding:0; }
.form-language .sbHolder .sbToggle , .tm_top_currency .sbHolder .sbToggle { display:none; }
.subbanner li{width:100%; margin-bottom:10px;}
.subbanner li:first-child {margin-right: 0px;}
.footer_bottom {bottom: -120px;}
.logo > img ,.payment_block img{width: 100%;}
.product-image > img{width:100%;height:auto;}
.header .links,.form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{width:150px}
.header .header-cart #panel{width:187px;}
.header .form-search input.input-text{width:93%;}
.social_block ul li{margin: 0 5px 10px 0;}
button.btn-checkout span{padding:0 8px;}
button.btn-checkout span span,.product-view .product-shop .product-name h1{font-size:14px;}

}

@media only screen and (max-width:240px) {}
